table.sheet {
  border-collapse:collapse;
  width: 100%;
}
table.sheet th{
  border: solid 1px #000000;
}
table.sheet th,table.sheet td{
  border: solid 1px #000000;
  text-align: center;
}
table.score {
  border-collapse:collapse;
  width: 100%;
}
