{% extends "bowlardlayout.html" %}

{% block content %}
<form name="entryForm" method="POST" target="_self" action="bowlard.php">
<table class="sheet">
<thead>
  <tr>
    <th colspan="2">1</th>
    <th colspan="2">2</th>
    <th colspan="2">3</th>
    <th colspan="2">4</th>
    <th colspan="2">5</th>
    <th colspan="2">6</th>
    <th colspan="2">7</th>
    <th colspan="2">8</th>
    <th colspan="2">9</th>
    <th colspan="3">10</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><label id="frame1-1">9</label></td>
    <td><label id="frame1-2">1</label></td>
    <td><label id="frame2-1">2</label></td>
    <td><label id="frame2-2">3</label></td>
    <td><label id="frame3-1">4</label></td>
    <td style="linear-gradient(-45deg, transparent 49%, black 49%, black 51%, transparent 51%, transparent);"><label id="frame3-2"></label></td>
    <td><label id="frame4-1"></label></td>
    <td><label id="frame4-2"></label></td>
    <td><label id="frame5-1"></label></td>
    <td><label id="frame5-2"></label></td>
    <td><label id="frame6-1"></label></td>
    <td><label id="frame6-2"></label></td>
    <td><label id="frame7-1"></label></td>
    <td><label id="frame7-2"></label></td>
    <td><label id="frame8-1"></label></td>
    <td><label id="frame8-2"></label></td>
    <td><label id="frame9-1"></label></td>
    <td><label id="frame9-2"></label></td>
    <td><label id="frame10-1"></label></td>
    <td><label id="frame10-2"></label></td>
    <td><label id="frame10-3"></label></td>
  </tr>
  <tr>
    <td colspan="2"><label id="frame1"></label></td>
    <td colspan="2"><label id="frame2"></label></td>
    <td colspan="2"><label id="frame3"></label></td>
    <td colspan="2"><label id="frame4"></label></td>
    <td colspan="2"><label id="frame5"></label></td>
    <td colspan="2"><label id="frame6"></label></td>
    <td colspan="2"><label id="frame7"></label></td>
    <td colspan="2"><label id="frame8"></label></td>
    <td colspan="2"><label id="frame9"></label></td>
    <td colspan="3"><label id="frame10"></label></td>
  </tr>
</tbody>
</table>
<table class="score">
  <tr>
    <td><input type="button" class="btn" value="S"></td>
    <td><input type="button" class="btn" value="9"></td>
    <td><input type="button" class="btn" value="8"></td>
  </tr>
  <tr>
    <td><input type="button" class="btn" value="7"></td>
    <td><input type="button" class="btn" value="6"></td>
    <td><input type="button" class="btn" value="5"></td>
  </tr>
  <tr>
    <td><input type="button" class="btn" value="4"></td>
    <td><input type="button" class="btn" value="3"></td>
    <td><input type="button" class="btn" value="2"></td>
  </tr>
  <tr>
    <td><input type="button" class="btn" value="1"></td>
    <td><input type="button" class="btn" value="G"></td>
    <td><input type="button" class="btn" value="â†"></td>
  </tr>
</table>
</form>
{% endblock %}
