{% extends "layout.html" %}

{% block content %}
<div class="mainttl">
  <div class="mainbase">メインメニュー</div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(255, 255, 0), rgb(255, 255, 100));">
    <form method="post" action="regist.php" target="_self" name="form0">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a4" value="メンバー登録">
      </div>
      </form>
      <div class="mainball0" style="background:linear-gradient(160deg, rgb(255, 255, 0), rgb(150, 150, 50));">
        <div class="ballNumber">1</div>
      </div>
  </div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(0, 100, 255), rgb(100, 200, 255));">
    <form method="post" action="ranking.php" target="_self" name="form1">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a3" value="リーグ戦ランキング">
      </div>
      <div class="mainball" style="background:linear-gradient(160deg, rgb(0, 100, 255), rgb(0, 0, 150));">
        <div class="ballNumber">2</div>
      </div>
  </form>
  </div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(255, 0, 0), rgb(250, 100, 100));">
    <form method="post" action="report.php" target="_self" name="form2">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a5" value="対戦分析">
      </div>
      <div class="mainball" style="background:linear-gradient(160deg, rgb(255, 0, 0), rgb(150, 0, 0));">
        <div class="ballNumber">3</div>
      </div>
    </form>
  </div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(255, 0, 234), rgb(250, 100, 234));">
    <form method="post" action="bowlards.php" target="_self" name="form3">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a0" value="ボーラードに挑戦">
      </div>
      <div class="mainball" style="background:linear-gradient(160deg, rgb(255, 0, 234), rgb(100, 0, 134));">
        <div class="ballNumber">4</div>
      </div>
    </form>
  </div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(255, 150, 0), rgb(255, 150, 100));">
    <form method="post" action="bowlards_score.php" target="_self" name="form4">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a2" value="ボーラード結果">
      </div>
      <div class="mainball" style="background:linear-gradient(160deg, rgb(255, 150, 0), rgb(150, 100, 0));">
        <div class="ballNumber">5</div>
      </div>
    </form>
  </div>
  <div class="mains" style="background:linear-gradient(270deg, rgb(0, 255, 0), rgb(100, 255, 100));">
    <form method="post" action="score_entry.php" target="_self" name="form5">
      <div class="main">
        <input class="mainsubmit" type="submit" name="a1" value="リーグ戦結果入力(店員用)">
      </div>
      <div class="mainball" background:linear-gradient(160deg, rgb(0, 255, 0), rgb(0, 150, 0));>
        <div class="ballNumber">6</div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
