{% extends "registlayout.html" %}
{% block content %}
<form name="entryForm" method="POST" target="_self" action="regist.php">
  <div class="menu">メンバー登録</div>
  <div class="title">
    <div class="main">
      <!-- No. -->
      <div class="input1">
        <input class="inputitem" type="text" name="memberno" value="{{ no }}" disabled="disabled">
        <!--<input type="hidden" name="a4No" value="<?php if($_POST['a4No']<>Null){echo $_POST['a4No'];}else{echo "No";};?>">-->
    </div>
  </div>
  <div class="main">
    <div class="input2">
      <!-- ニックネーム -->
      <input class="inputitem" onclick="nameckick()" type="text" name="membername" value="{{ name }}">
    </div>
  </div>
  <div class="main">
    <div class="input3">
      <select class="inputitem" name="memberclass">
        <option value="UC"><p name="memberclass">UC</p></option>
        <option value="C"><p name="memberclass">C</p></option>
        <option value="B"><p name="memberclass">B</p></option>
        <option value="A"><p name="memberclass">A</p></option>
        <option value="SA"><p name="memberclass">SA</p></option>
      </select>
    </div>
  </div>
  <div class="main">
    <div class="input4">
      <select class="inputitem" name="membersex">
        <option value="男"><p name="sex">男</p></option>
        <option value="女"><p name="sex">女</p></option>
      </select>
    </div>
  </div>
  <div class="main">
    <div class="input5">
      <input class="inputitem" type="submit" name="membersubmit" value="登　録">
    </div>
  </div>
  </div>
</form>
{% endblock %}
